// COLORS

// Blues
$color-primary: #00bcd4;
$color-primary-light: #00bcd4;
$color-primary-dark: #0096a9;

// Reds
$color-secondary-light: #ff5722;
$color-secondary-dark: #dd2c00;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// Green
$color-green-light: #96a900;
$color-green-dark: #788700;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;

$gutter-horizontal: 6rem;